@page "/"
@page "/CharacterSheet"

@using Newtonsoft.Json
@using TheExpanseRPG.CharacterSheet.Domain.Aggregates.CharacterAggregate

<div class="container-lg" style="border: 1px solid black">
    <div class="row">
        <div class="col-4">
            <div class="row">
                <img src="images/logo.png" class="img-fluid"/>
            </div>
            <div class="row">
                <div class="col-12">
                    <SheetSectionControl Title="Character">
                        <PersonaComponent Persona="@character.Persona" PersonaChanged="@CharacterChanged"/>
                    </SheetSectionControl>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <SheetSectionControl Title="Abilities">
                        <AbilitiesComponent Abilities="@character.Abilities" AbilitiesChanged="@CharacterChanged"/>
                    </SheetSectionControl>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="row">
                <div class="col-10">
                    <SheetSectionControl Title="Appearance">
                        <StyledTextboxControl Label="Appearance" Value="@character.Persona.Appearance" ValueChanged="@(args => { character.Persona.Appearance = args.Value as string; CharacterChanged(); })"/>
                    </SheetSectionControl>
                </div>
                <div class="col-2">
                    <SheetSectionControl Title="Move">
                        <h1>0</h1>
                    </SheetSectionControl>
                </div>
            </div>
            <div class="row">
                <div class="col-10">
                    <BaseStatsComponent SecondaryAbilities="@character.SecondaryAbilities"/>
                </div>
                <div class="col-2"></div>
            </div>
        </div>
    </div>
</div>

<SheetSectionControl Title="Debug">
    <pre>
@JsonConvert.SerializeObject(character, Formatting.Indented)
        </pre>
</SheetSectionControl>


@code
{
    Character character = new Character();
    public string Text = string.Empty;

    public void OnChangeName()
    {
        character.Persona.Name = "Test";
    }

    private void CharacterChanged()
    {
        character.RecalculateSecondaryAbilities();
    }
}
